<div class="bar bar-header bar-calm" style="background-color: whitesmoke">
  <div class="row">
    <h1 class="title" style="color: #0c60ee">{{weatherInfo.timezone.toUpperCase()}}</h1>
    <button class="button icon-left ion-android-locate"
            style="color:orangered; background-color: whitesmoke; border:none" ng-click="showPopup()"></button>
  </div>
</div>
<ion-content class="has-header has-footer" style="background-color: whitesmoke">
  <div class="list" ng-repeat="item in weatherInfo.daily.data">
    <div class="card" ng-click="openHourlyView(item)">
      <div class="container">
        <div class="row">
          <div class="col col-40">
            <div style="padding-top: 5px">
              <p>{{getDayName(item.time).toUpperCase()}}</p>
            </div>
            <div style="padding-top: 20px">
              <p>{{getDateAndMonthName(item.time).toUpperCase()}}</p>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <img src="../img/{{item.icon}}@2x.png" style="margin-right: 20px">
              <p>{{item.temperatureHigh.toFixed(0)}}°C</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</ion-content>
